#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NUFU 1
#define SYM 2
#define NAV 3
#define MED 4
#define POI 5
#define SCR 6
#define SNI 7


/ {

    keymap {
        compatible = "zmk,keymap";
        Base {
            label = "Base";
            bindings = <
              &lt 2 Q  &kp W       &kp E         &kp R      &kp T              &kp Y          &kp U      &kp I      &kp O      &kp P     
            &kp A  &kp S       &kp D         &kp F      &kp G              &kp H          &kp J      &kp K      &kp L      &kp SEMI 
            &kp Z  &kp X       &kp C         &kp V      &kp B              &kp N          &kp M      &kp COMMA  &kp DOT    &lt 2 FSLH 
                &lt NUFU TAB  &lt SYM SPACE &lt MED ESC                 &mt MEH BACKSPACE &lt SYM ENTER &trans
            >;
        };
       
    };
};
